/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* definir area para o container */
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* lado da imagem */
.side-image {
    flex: 1;
    background-image: url(../imagens/marD.jpg);
    background-size: cover;
    background-position: center;
}

/* lado do formulário */
.side-form {
    flex: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* parte entre logo e formulário */   
.form-wrapper {
    margin-bottom: 25px; /* espaçamento entre logo e formulário */
}
/* logo tamanho */
.form-wrapper img {
    width: 90px;
    height: 90px;
}

/* card branco */
.login-card {
    background: #fff;
    padding: 30px;
    width: 400px;
    border: 1px solid #ddd;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
/*grupo user e password*/
.input-group {
    margin-bottom: 20px; /* espaçamento entre os campos */
}
/* rótulos dos campos */
.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}
 /* campos de entrada */
.input-group input {
    width: 100%;
    padding: 15px; /* distância entre o texto e a borda */
    height: 50px; /* altura do campo */
    border: 1px solid #ccc;
    border-radius: 2px;
    outline-color: #2380a1;
    font-size: 16px;
}

/* rodapé  card de login */
.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* checkbox de lembrar */
.remember {
    font-size: 13px;
    color: #777;
    cursor: pointer;
}
/* botão de login */
.btn-login {
    background-color: #177597;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
/* efeito hover no botão de login */
.btn-login:hover {
    background-color: #1e8bb7;
}

/* links extras */
.extra-links {
    width: 400px;
    margin-top: 25px;
    text-align: left;
}

.extra-links a {
    display: block;
    color: #777;
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.extra-links a:hover {
    color: #2ea2cc;
}

.input-with-icon {
    position: relative; /* Base para o ícone se localizar */
    width: 100%;
}

.input-with-icon input {
    width: 100%;
    padding: 10px 35px 10px 10px; /* Adiciona espaço na direita para o ícone não cobrir o texto */
    border: 1px solid #ccc;
    outline-color: #2ea2cc;
}

.input-with-icon i {
    position: absolute;
    right: 10px;      /* Distância da borda direita */
    top: 50%;         /* Centraliza verticalmente */
    transform: translateY(+90%); /* Ajuste fino do centro vertical */
    color: #888;      /* Cor do ícone */
    font-size: 17px;
    pointer-events: none; /* Garante que clicar no ícone ainda selecione o input */
}